.listText {
    width: 100%;
}

@media (min-width: 992px) {
    .listText {
        width: 7rem;
    }
}

.listButton {
    margin-top: 8%;
    margin-bottom: 8%; 
    width: 45%;   
}

.categoryListItem {
    padding: .5rem;
}