.listText {
    width: 100%;
    margin-right: 1rem; 
    font-size: larger;   
}

.listButton {    
    margin: 8% 0;
    width: 45%;   
}

@media (min-width: 992px) {
    .listText {
        width: 7rem;
        font-size: small;
    }

    .listButton {            
        width: 60%;   
    }
}

@media (min-width: 1103px) {
    .listText {
        font-size: medium;
    }

    .listButton {            
        width: 45%;   
    }
}

.categoryListItem {
    padding: .5rem;
}