.headerFeed {
    border-color: white;
}

.recruiter-fullname {
    margin-left: -1rem;
}

.profileImageFeed {    
    width: 4rem;    
}

.ellipsisIcon {
    color: white;
    cursor: pointer;
}

#ellipsisOptionsIcon {
    cursor: pointer;
}

.dropdownMenuButton-ellipsis {
    margin-left: -9rem;
}

.actionIcon {
    margin-left: -1%;
}

@media (max-width: 576px) {
    .reactionButton {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .reactionButton {
        font-size: xx-small;
    }
}

@media (min-width: 1300px) {
    .reactionButton {
        font-size: x-small;
    }
}


