.backgroundFont {
    background: #1B2730;
    color: white;        
}

.buttonHover:hover {
    background-color: #25529c!important;
    color: white;
}

.largeCard {
    width: 100%;   
}

.profileCard {
    width: 90%;   
}

.buttonPadding {
    padding: 1rem!important;
}

.user-form {
    padding: 0 7% 5%;
}

.form-title {
    font-weight: 800;
    font-family: 'Public Sans', sans-serif;
    font-size: 180%;
    color: black;
}